services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: "postgresql://postgres:${POSTGRES_PASSWORD}@db:5432/homequest"
      PASSWORD_PEPPER: ${PASSWORD_PEPPER}
      SECRET_KEY: ${SECRET_KEY}
      APP_API_KEY: ${APP_API_KEY}
      FRONT_URL: ${FRONT_URL}
      TZ: Asia/Tokyo
    volumes:
      - ./backend/uploads:/app/uploads

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: homequest
      TZ: Asia/Tokyo
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  frontend:
    build: ./frontend
    ports:
      - "8501:8501"
    volumes:
      - ./frontend:/app  # ローカルのファイルをコンテナと同期（保存即反映）
    depends_on:
      - backend
    environment:
      BACKEND_API_URL: ${API_URL}
      APP_API_KEY: ${APP_API_KEY}
      IMAGE_BASE_URL: ${IMAGE_BASE_URL}
      TZ: Asia/Tokyo
    command: streamlit run main.py --server.address=0.0.0.0

volumes:
  db_data: